/* 页脚 */
.footer {
  padding: 1em 0;
  border-top: 1px solid #eee;
  background: #f2f2f2;
  color: #888;
  text-align: center;
  font-size: 0.9rem;
}

.footer p {
  margin: 1em 0;
}

.footer a {
  color: #222;
  text-decoration: none;
  color: #888;
  font-size: smaller;
}

.footer em {
  margin: 0 8px;
  font-style: italic;
  font-size: smaller;
}